header {
  border-bottom: 1px solid #ccc;
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-sm) 0;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      a {
        display: block;
        svg {
          height: 30px;
          display: block;
        }
      }
    }
    nav {
      display:flex;
      align-items: center;
      a {
        text-decoration: none;
        margin-left: var(--spacing-sm);
        svg {
          display: block;
          height: 35px;
        }
      }
      a.github-lnk {
        display: none;
      }
    }
  }
}

@media (min-width: 600px) {
  header {
    .container {
      nav {
        a.github-lnk {
          display: block;
        }
      }
    }
  }
}

