header {
  border-bottom: 1px solid #ccc;
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-sm) 0;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      a {
        display: block;
        svg {
          height: 30px;
          display: block;
        }
      }
    }
    nav {
      display:flex;
      align-items: center;
      a {
        position: relative;
        text-decoration: none;
        margin-left: var(--spacing-sm);
        color: #555;
        svg {
          display: block;
          height: 30px;
        }
      }
      a.github-lnk {
        display: none;
      }
    }
  }
}

@media (min-width: 600px) {
  header {
    .container {
      nav {
        a.github-lnk {
          display: block;
        }
      }
    }
  }
}

// hovers 

header {
  nav {
    a:not(.github-lnk) {
      &:before {
        content: '';
        position: absolute;
        top: -60px;
        left: calc(50% - 5px);
        width: 10px;
        height: 30px;
        background: var(--primary);
        border-radius: 5px;
        transition: top 231ms ease-out;
      }
      &:hover {
        color: #222;
        &:before {
          top: -50px;
        }
      }
    }
  }
}