body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-bottom: var(--spacing-lg);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

@media (min-width: 800px) {
  .container {
    max-width: 700px;
  }
}