html {
  font-size: 105%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 { font-size: 1rem }
h3 { font-size: 1rem }
h4 { font-size: 1rem }
h5 { font-size: 1rem }
h6 { font-size: 1rem }

figure {
  margin: 0;
}

// html,
// body,
// div,
// span,
// object,
// iframe,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// blockquote,
// pre,
// abbr,
// address,
// cite,
// code,
// del,
// dfn,
// em,
// img,
// ins,
// kbd,
// q,
// samp,
// small,
// strong,
// sub,
// sup,
// var,
// b,
// i,
// dl,
// dt,
// dd,
// ol,
// ul,
// li,
// fieldset,
// form,
// label,
// legend,
// table,
// caption,
// tbody,
// tfoot,
// thead,
// tr,
// th,
// td,
// article,
// aside,
// canvas,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section,
// summary,
// time,
// mark,
// audio,
// video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   outline: 0;
//   font-size: 102.5%;
//   background: transparent;
//   box-sizing: border-box;
// }

// body { line-height: 1 }

// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section { display: block }

// nav ul { list-style: none }

// a {
//   margin: 0;
//   padding: 0;
//   font-size: 100%;
//   vertical-align: baseline;
//   background: transparent;
// }

// hr {
//   display: block;
//   height: 1px;
//   border: 0;
//   border-top: 1px solid #cccccc;
//   margin: 1em 0;
//   padding: 0;
// }

// /* hand cursor on clickable input elements */
// label,
// input[type=button],
// input[type=submit],
// button { cursor: pointer }

// /* webkit browsers add a 2px margin outside the chrome of form elements */
// button,
// input,
// select,
// textarea { margin: 0 }

// /* kill text shadows on selection */
// ::-moz-selection {
//   background: #6374AB;
//   color: #fff;
//   text-shadow: none;
// }

// ::selection {
//   background: #6374AB;
//   color: #fff;
//   text-shadow: none;
// }