html {
  background: #f5f7f7;
}

body {
  font-family:'Muli';
  color: #444;
  line-height: 1.7;
}

a {
  color: #444;
  font-weight: var(--bold);
  text-decoration: none;
}

p a,
ul a {
  border-bottom: 2px solid rgba(243, 198, 53, 0.5);
  transition: all 221ms ease-out;
  &:hover {
    color: #222;
    border-bottom: 3px solid rgba(243, 198, 53, 1);
  }
}
