:root {
  --primary: red;

  --spacing-sm: 1.5rem;
  --spacing-lg: 4rem;

  --light: 300;
  --regular: 400;
  --bold: 500;
}

.lead {
  font-size: 1.25rem;
  font-weight: var(--light);
  margin-bottom: var(--spacing-lg);
}

.text-left   { text-align: left }
.text-center { text-align: center }
.text-right  { text-align: right }

.float-left  { float: left }
.float-right  { float: right }

