:root {
  
  // colour

  --primary-05: rgba(243, 198, 53, 0.5);
  --primary: rgb(243, 198, 53);

  // margin/padding

  --spacing-sm: 1.5rem;
  --spacing-lg: 4rem;

  // font weight

  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --bold: 500;

}

h2 { font-size: 1.4rem }
h3 { font-size: 1.3rem }
h4 { font-size: 1.2rem }
h5 { font-size: 1.1rem }
h6 { font-size: 1rem }

.lead {
  font-size: 1.4rem;
  font-weight: var(--extra-light);
  margin-bottom: var(--spacing-lg);
}

.text-left   { text-align: left }
.text-center { text-align: center }
.text-right  { text-align: right }

.float-left  { float: left }
.float-right  { float: right }

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
